<!DOCTYPE html>
<html>
    <head>
        <title>Anmelden</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <h1>Anmelden</h1>
        <p>Benutzername</p>
        <input type="text" name="Benutzername"> <br>
        <br>
        <p>Passwort</p> 
        <input type="text" name="Passwort"> <br>
        <p>Noch nicht registriert? <a href="registrieren.html">Hier klicken</a> </p> <br>
        <button>✓</button>

    </body>
</html>